{% extends "layout.html" %}

{% block heading %}
    Booktopia
{% endblock %}

{% block body %}
      
    <div class="content-section">

   
        <form action="/register" method="POST" style="border:10px solid rgba(204, 204, 204, 0.164)">
            <div class="container">
              <h3>Sign Up</h3>
                <p>Please fill in this form to create an account.</p>
            
            
              <label for="username"><b>Username</b></label>
                <input type="text" name="username" required placeholder="Enter Username">
            
              <label for="psw"><b>Password</b></label>
                <input type="password" name="psw" required placeholder="Enter Password">
            
              <label for="psw"><b>Confirm Password</b></label>
                <input type="password" name="psw2" required placeholder="Enter Password">
          
            <hr>
               <button type="submit" class="signupbtn">Sign Up</button>
        </form>
            <br>

            <a href="{{ url_for('login') }}">Already have an account? </a>
    </div>
        
{% endblock %}