{% extends "layout.html" %}

{% block heading %} 
Home
{% endblock %}


{% block body %}

    <div class = "content-section">

        <div class = "container">

            {% if session["user_id"] %}
            <form class ="form-inline">

                <input class="form-control mr-sm-2" type="search" placeholder="Search for books" aria-label="Search" name="user_search">
                <button class="btn btn-primary" type="submit">Search</button>

            </form>
            {% endif %}

            {% if not session["user_id"] %}
                
                    <a href="{{ url_for('login') }}">Please Login</a>
                    
            {% endif %}
            <br>
           
        </div>
    </div>

{% endblock %}